---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -bugprone-easily-swappable-parameters,
        -misc-non-private-member-variables-in-classes,
        -readability-static-accessed-through-instance,
        -readability-magic-numbers,
        -readability-function-cognitive-complexity,
        -readability-uppercase-literal-suffix,
        -readability-identifier-length,
        -readability-simplify-boolean-expr,
        -readability-named-parameter,
        -hicpp-uppercase-literal-suffix,
        -hicpp-signed-bitwise,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -modernize-use-trailing-return-type,
        -modernize-use-std-numbers,
        -performance-enum-size,        
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
